# Created for electron-management-app project

### Dependencies ###
/node_modules

### Build and Compiled ###
/dist

### Mac OSX ###
.DS_Store

### Intellij ###
# The whole folder for the moment
/.idea

# End of .gitignore
